/*================= widget(自定义控件) =================*/
/*layout*/
.help_colm{ padding:0;}
.help_l{ width:240px; float:left}
.help_r{ margin:0 0 0 260px;}

.nav_b_s{ background:#f7f6f3; border:solid 1px #dadada; border-bottom:0; }
.nav_buy,.nav_seller{}
.nav_b_s h2,.nav_b_s dt{font-size:14px;background:#f8f8f8;border-bottom:solid 1px #dadada;padding-left:20px;line-height:40px; font-weight:bold;}

.nav_buy li,.nav_seller li{ line-height:24px;border-bottom:solid 1px #dadada;padding-left:20px;}
.nav_buy li a,.nav_seller li a{ display:block;line-height:28px; color:#333; font-weight:bold;}
.nav_buy li span,.nav_seller li span{ display:block;line-height:28px;}

.nav_buy li i,.nav_seller li i{ width:14px; height:14px; float:right; margin:7px 10px 0 0;}
.nav_buy li i.icon_plus_help,.nav_seller li i.icon_plus_help {background-position:-1007px 0;}/*-*/
.nav_buy li.active i.icon_plus_help,.nav_seller li.active i.icon_plus_help{background-position: -1041px 0;}/*+*/
.info_nav{ display:none;}
.nav_buy li.active .info_nav,.nav_seller li.active .info_nav{display: block;}/*+*/
/**/
.nav_b_s .nav_buy dl dt{font-size:12px;background: none;border-bottom: none;padding-left:0;line-height: normal; font-weight: normal;}
.nav_buy dl,.nav_seller dl{ line-height:24px;border-bottom:solid 1px #dadada;padding-left:20px;}
.nav_buy dt a,.nav_seller dt a{ display:block;line-height:28px; color:#333; font-weight:bold;}
.nav_buy dd span,.nav_seller dd span{ display:block;line-height:28px;}

.nav_buy dt i,.nav_seller dt i{ width:14px; height:14px; float:right; margin:7px 10px 0 0;}
.nav_buy dt i.icon_plus_help,.nav_seller dt i.icon_plus_help {background-position:-1007px 0;}/*-*/
.nav_buy dt.active i.icon_plus_help,.nav_seller dt.active i.icon_plus_help{background-position: -1041px 0;}/*+*/
.info_nav{ display:none;}
.nav_buy dt.active .info_nav,.nav_seller dt.active .info_nav{display: block;}/*+*/
/**/

.info_nav{ }

.help_tit_bar { height: 27px; line-height: 27px; padding: 0 10px; font-size:14px; font-weight:bold;}

.help_icon_list { border:solid 1px #ccc; padding:10px; margin-top:10px; }
.help_icon_list ul{ overflow:hidden;}
.help_icon_list li{ width:111px; float:left; text-align:center;}
.help_tit_font{height: 27px; line-height: 27px; padding: 0 10px; font-size:14px; font-weight:bold; border-bottom:solid 2px #c00; color:#c00;}

.help_table{border-spacing:10px; width:100%;}
.help_table td{border:solid 1px #ccc}
.help_table h6{ padding:10px 0; text-align:center;}
.help_q_l_b,.help_q_l_ifon{ padding:10px 0;}
.help_q_l_ifon{ line-height:20px;}
.help_q_list { border:solid 1px #ccc; border-bottom:0; background:#f7f6f3;}
.help_q_list li { border-bottom:solid 1px #ccc; padding:4px 10px; }
