.menubgs { background:url(../images/bg_home.gif) repeat-x 0 0;}
#sort .lists{ /*height:438px;*/}

.button2{ padding:0; margin:0; border:0; display:block; background:url(../images/bottom1.gif) no-repeat center 0; height:20px; line-height:20px; overflow:hidden; padding:0; width:90px; text-align:center; cursor:pointer;}

a.buyss{ width:71px; height:19px; display:block; margin:5px 0 0 0; padding:0; background:url(../images/bottom_buy1.gif) no-repeat 0 0; float:left; text-align:center; color:#fff;}
.title1{ background:url(../images/bg_title.gif) no-repeat 5px 29px; height:30px; padding:0 5px 0 0; line-height:30px; text-align:right; color:#2a9ca7;}
.title1 strong{ float:left; padding:0 0 0 15px; font-size:14px;}
.menubgs .min{ width:600px; float:left; padding:0 0 0 8px; overflow:hidden;}

.menubgs .min dl.flash{ width:598px; height:364px; padding:0; margin:0; overflow:hidden; text-align:center; border:solid 1px #2a9ca7;}
.menubgs .min dl.flash dt{ width:598px; height:364px; padding:0; margin:0; overflow:hidden; position:relative; top:0; z-index:0;}
.menubgs .min dl.flash dt ul{  width:10000px; padding:0; margin:0; position:relative; top:0; z-index:-1;}
.menubgs .min dl.flash dt ul li{ width:598px; overflow:hidden; padding:0; margin:0; float:left;}
.menubgs .min dl.flash dt ul li img { border-bottom:solid 1px #299ca7; margin:0; padding:0;}
.menubgs .min dl.flash dt strong{ display:block; width:598px; height:60px;position:relative; top:-60px; z-index:3; background:url(../images/home/flash.gif) no-repeat 0 0;filter: Alpha(Opacity=50, Style=0);opacity:0.5;}
.menubgs .min dl.flash dd{ position:relative; top:-25px; float:right; }
.menubgs .min dl.flash dd span{ float:left; line-height:20px;color:#fff; cursor:pointer;background:#00a496;filter: Alpha(Opacity=50, Style=0);opacity: 0.50; z-index:1; display:inline; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; font-style:italic; width:20px; height:20px; margin:0 5px;}
.menubgs .min dl.flash dd span.here{ color: #fff;filter: Alpha(Opacity=100, Style=0);opacity: 1; background:#005bac;}
.menubgs .min dl.flash dt ul li div.small { width:598px; height:100px; margin:0px; padding:0;}
.menubgs .min dl.flash dt ul li div.small h1 { float:left; font-size:12px; width:198px; text-align:center;}
.menubgs .min dl.flash dt ul li div.small h2 { float:left; font-size:12px; background:url(../images/bg_title.gif) no-repeat -599px 10px; width:1px; height:100px; overflow:hidden;}

/*.menubgs .min dl.lfash{ height:173px; width:748px; border:solid 1px #ccc; margin:10px 0 0 0; overflow:hidden; background:#fff url(../images/bg.gif) repeat-x 0 -1028px;}
.menubgs .min dl.lfash dd ul{ width:10000px; height:173px; padding:0; margin:0; position:relative; z-index:1;}
.menubgs .min dl.lfash dd ul li{ width:128px; height:163px; border-right:solid 1px #ccc; float:left; text-align:center; padding:5px; line-height:15px;}
.menubgs .min dl.lfash dd ul li img{ width:125px; height:125px; padding:0 0 5px 0;}
.menubgs .min dl.lfash dd{ float:left; width:695px; padding:0; margin:0; overflow:hidden; position:relative; z-index:1;}
.menubgs .min dl.lfash dt{ float:left; height:183px; width:26px; cursor:pointer;}
.menubgs .min dl.lfash dt.pv{ background:#e9e9e9 url(../images/home/icon_flash.gif) no-repeat 9px 80px; border-right:solid 1px #ccc;}
.menubgs .min dl.lfash dt.next{ background:#e9e9e9 url(../images/home/icon_flash.gif) no-repeat -7px 80px;}*/


.menubgs .rights{ width:215px; float:right;  padding:0; overflow:hidden;}
.menubgs .rights .item{ width:234px; height:85px; padding:0 0 10px 0;}
.menubgs .rights .item img{ padding:0 4px 0 0; height:85px; width:74px; margin:0; float:left;}

.menubgs .rights .list1{width:213px; background:#fff; border:solid 1px #2a9ca7; height:138px; overflow:hidden; margin:0 0 10px 0;}
.menubgs .rights .list1 ul{ padding:8px 5px 5px 10px; line-height:24px;}
.menubgs .rights .list1 ul li{ height:24px; padding:0 0 0 10px; background:url(../images/icon_list_1.gif) no-repeat 0 11px; overflow:hidden;}

.menubgs .rights .sel{width:213px;  border:solid 1px #2a9ca7; height:99px; overflow:hidden; margin-top:10px;}
.menubgs .rights .sel dt{ }
.menubgs .rights .sel dt span{ width:106px; height:30px; display:block; float:left; text-align:center; line-height:30px; cursor:pointer;border-bottom:solid 1px #EBEBEB; background:url(../images/bg_tab.gif);}
.menubgs .rights .sel dt span.n1 {border-right:solid 1px #EBEBEB;}
.menubgs .rights .sel dt span.here{ color:#2a9ca7; font-weight:bold; border-bottom:none; background:none;}
.menubgs .rights .sel dd{ padding:5px 2px;  display:none;}
.menubgs .rights .sel dd ul { float:left; margin:2px;}
.menubgs .rights .sel dd ul li{ text-align:center;}


.main{ padding:15px 0 0 0;}
.main .left{ /*width:960px;*/}
.main .right{ /*width:230px;*/}

.main .right .titles{ line-height:28px; text-align:right;height:28px; }
.main .right .titles strong a{ color:#000;}
.main .right .titles strong{ float:left; font-size:14px;}
.main .right .kuangs{ border:solid 1px #ccc;width:212px; padding:8px; overflow:hidden; background:#f7f7f7 url(../images/bg.gif) repeat-x 0 0;}

/*items1*/
.items1 { height:385px; overflow:hidden;}
.items1 .left{ border:solid 1px #00a496; border-top: solid 2px #00a496; width:774px; height:382px;  overflow:hidden;}
.items1 .left dt{letter-spacing:5px; height:30px; /*border-bottom:solid 1px #666;*/}
.items1 .left dt strong{ font-size:14px; width:193px; height:30px; line-height:30px; background:url(../images/bg_tab.gif); text-align:center; display:block; float:left; cursor:pointer; font-weight:normal; border-right:solid 1px #EBEBEB; border-bottom:solid 1px #EBEBEB;}
.items1 .left dt strong.last { width:192px; border-right: none;}
.items1 .left dt strong.here{ background:none; border-bottom: none;}
.items1 .left dt strong.here a{ color:#00a496; font-weight:bold;}
.items1 .left dd{ padding:10px 15px;}
.items1 .left dd ul{ padding:0; margin:0; display:none;border-bottom:solid 1px #EBEBEB; height:160px;}
.items1 .left dd ul li{ width:237px; padding:15px 10px 15px 0; height:135px; float:left; color:#00a496; border-right:solid 1px #EBEBEB;}
.items1 .left dd ul li.noborder { border:none;}
.items1 .left dd ul div.line { border-bottom:solid 1px #EBEBEB; clear:both; height:0px; overflow:hidden;}
.items1 .left dd ul li img{ width:120px; height:120px; padding:0 5px 10px 5px; float:left;}
.items1 .left dd ul li span { display:block; float:right;}
.items1 .left dd ul li a{ display: inline-block; text-align:left; line-height:16px; height:80px;}
.items1 .left dd ul li strong{ color:#C00; font-size:12px; font-family:Arial, Helvetica, sans-serif;}

.items1 .right .group {height:261px; line-height:16px; color:#999;} 
.items1 .right .group img{ border:solid 1px #ccc; margin:0 0 5px 0;}
.items1 .right a.bottton_group{ display:block; padding:0 0 0 33px; width:197px; height:45px; line-height:45px; background:url(../images/home/bottom_group.gif) no-repeat 0 0; color:#fff; font-size:18px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;color:#fff; position:relative; top:-37px; z-index:1;}
.items1 .right a.bottton_group strong{ font-size:30px;}

/*sorts*/
.sorts { /*height:462px; */overflow:hidden;}
.sorts .left{ width:774px; border:solid 1px #00a496; height:425px; overflow:hidden;}
.sorts .left .titles{ height:32px; background:#069;letter-spacing:2px; font-size:14px;}
.sorts .left .titles dt{ float:left; width:202px; line-height:32px; color:#fff; padding:0 0 0 8px; font-weight:bold; color:#fff;}
.sorts .left .titles dt a:link,
.sorts .left .titles dt a:visited {color: #fff;}
.sorts .left .titles dt a:hover,
.sorts .left .titles dt a:active {color: #FF9;}
.sorts .left .titles dd{ float:left; height:30px; border-top:solid 1px #00a496;}
.sorts .left .titles dd strong{ width:107px; line-height:30px; text-align:center; float:left;  display:block; cursor:pointer;}
.sorts .left .titles dd strong.here{ background:#fff; color:#900; }
.sorts .left .titles dd strong.here a{ color:#00a496;}
.sorts .left dl.list{ width:774px; overflow:hidden;}
.sorts .left dl.list dt{ width:199px; height:385px; border-right:solid 1px #00a496; float:left; padding:5px;}
.sorts .left dl.list dt table { width:100%; border-bottom:solid 1px #f3f3f3;border-right:solid 1px #f3f3f3;}
.sorts .left dl.list dt table td { border-top:solid 1px #f3f3f3;border-left:solid 1px #f3f3f3; width:50%; height:35px; text-align:center;}
.sorts .left dl.list dd{ width:534px; overflow:hidden; height:425px; float:left; display:none; padding:10px 15px;}
.sorts .left dl.list dd ul{ height:193px; padding:0; margin:0; border-bottom:solid 1px #ccc;}
.sorts .left dl.list dd ul li a strong,.sorts .left dl.list dd ul li strong{ color:#C00;}

.sorts .left dl.list dd ul.sortlist2{}
.sorts .left dl.list dd ul.sortlist2 li{ width:156px; border-right:1px solid #EBEBEB; float:left; height:180px; overflow:hidden; padding:0 10px 10px; line-height:18px; color:#00a496; text-align:center; color:#00a496;}
.sorts .left dl.list dd ul.sortlist2 li.noborder { border:none;}
.sorts .left dl.list dd ul.sortlist2 li img{ width:110px; height:110px; padding:10px 10px 0;}
.sorts .left dl.list dd ul.sortlist2 li span{ height:30px; line-height:16px; display:block;}
.sorts .left dl.list dd ul.sortlist2 li span a{text-align:left; display:block;}

.sorts1 .left .titles{background: url(../images/bg_sel.gif) repeat-x 0 0;}
.sorts1 .left .titles dd strong{ background: url(../images/bg_tab.gif); font-weight:normal; border-right: 1px solid #EBEBEB; border-bottom: 1px solid #EBEBEB; width:140px;}
.sorts1 .left .titles dd strong.here{ background:#FFF; color:#00a496; font-weight:bold;border-bottom: 1px solid #fff;}
.sorts1 .left .titles dd strong.last {border-right: none; height:30px; width:141px;}



.last .left .phb{ border:solid 1px #00a496; width:210px; height:380px; overflow:hidden; float:left; margin-right:10px;}
.last .left .phb ul{ margin-top:5px;}
.last .left .phb li{ overflow:hidden; color:#00a496;}
.last .left .phb li strong { color: #C00;}
.last .left .phb li img { width:60px; height:60px; float:left; margin:0 10px 10px 10px;}

.last .left .comment{ border:solid 1px #00a496; width:553px; height:380px; float:left;padding:0; overflow:hidden;}
.last .left .comment ul.sortlist2 { border-bottom: 1px solid #CCCCCC; height: 165px; margin:10px; padding: 0;}
.last .left .comment ul.sortlist2 li{ width:156px; border-right:1px solid #EBEBEB; float:left; height:155px; overflow:hidden; padding:0 10px 10px; line-height:18px; color:#00a496; text-align:center; color:#00a496;}
.last .left .comment ul.sortlist2 li strong { color: #CC0000;}
.last .left .comment ul.sortlist2 li.noborder { border:none;}
.last .left .comment ul.sortlist2 li img{ width:90px; height:90px; padding:10px 10px 0;}
.last .left .comment ul.sortlist2 li span{ height:20px; line-height:16px; display:block;}
.last .left .comment ul.sortlist2 li span a{text-align:left; display:block;}

.title2{ background:url(../images/bg_title.gif) no-repeat 5px -476px;}

