.stars0,
.stars1,
.stars2,
.stars3,
.stars4,
.stars5,
.stars1p,
.stars2p,
.stars3p,
.stars4p,
.stars5p{ width:70px;background:url(../images/starts.gif) no-repeat 0 0;  height:13px; margin:5px 3px 3px; display:block; float:left;}
.stars5p{ background-position:0 -13px;}
.stars4{ background-position:0 -26px;}
.stars4p{ background-position:0 -39px;}
.stars3{ background-position:0 -52px;}
.stars3p{ background-position:0 -65px;}
.stars2{ background-position:0 -78px;}
.stars2p{ background-position:0 -91px;}
.stars1{ background-position:0 -104px;}
.stars1p{ background-position:0 -117px;}
.stars0{ background-position:0 -130px;}


.menubgs{padding:0;margin: 0 auto; overflow:hidden; width:1000px;}
.menubgs .left{ /*width:200px;*/}
.menubgs .right{ width:832px;}


#sort{ position:absolute; /*width:200px;*/ padding:0; margin:0;z-index:3;}
#sort h2{ height:40px; width:170px; padding:0; background: url(../images/sort_title.gif) no-repeat;cursor:pointer;display:block;}
#sort h2 a{ display:block; /*height:37px; width:200px;*/}
#sort .sortbot{ background:url(../images/sort_foot.gif) no-repeat 0 0; width:200px; height:26px;display:none;}
#sort a:link,
#sort a:visited {color:#2a9ca7;text-decoration:none;}
#sort a:hover,
#sort a:active {color: #900;text-decoration:underline;}
#sort .lists{ background:url(../images/sort_bg.gif) repeat-y 0 0; width:168px; display:none; border-bottom:2px solid #2a9ca7;}
#sort .lists dl{ padding:0;overflow:hidden;cursor:pointer; width:168px;}
#sort .lists dl.here{ padding:0;border-right:0; background:#fff;}
#sort .lists dl dt{ padding:0; /*width:200px;*/ background:url(../images/sort_sel.gif) no-repeat 0 0; }
#sort .lists dl.here dt{background:url(../images/sort_sel.gif) no-repeat -168px 0; position:relative; z-index:3;}
#sort .lists dl dt strong{ display:block; padding:0 0 0 25px; margin:0; line-height:30px; width:175px;color:#fff; font-weight:bold; font-size:12px; height:31px;}
#sort .lists dl dt strong a{ display:block;}
#sort .lists dl dt strong a:link,
#sort .lists dl dt strong a:visited {color: #2a9ca7;text-decoration:none;}
#sort .lists dl dt strong a:hover,
#sort .lists dl dt strong a:active {color: #db0000;text-decoration:none;}
#sort .lists dl dd{position:absolute; margin:-30px 0 0 140px;  padding:10px 10px 10px 15px; z-index:1; color:#333;border:solid 1px #2a9ca7; background:#fff url(../images/sort_l_bg.gif) repeat-y 0 0; width:670px; overflow:hidden; display:none;}
#sort .lists dl.here dd{ display:block;}
#sort .lists dl dd ul{ float:left;}
#sort .lists dl.here ul strong{ color:#000; display:block;}
#sort .lists dl.here ul strong a:link,
#sort .lists dl.here ul strong a:visited { color: #000;text-decoration: underline;}
#sort .lists dl.here ul strong a:hover,
#sort .lists dl.here ul strong a:active {color: #000;text-decoration:none;}
#sort .lists dl.here ul.soft a{ padding:0 3px 0 3px;}
#sort .lists dl.here ul.soft{ border:0; padding: 0 10px 0 0; margin:0; background:none;width:500px; cursor:auto; text-align:left; overflow:hidden;}
#sort .lists dl.here ul.soft li{padding:5px 0 5px 0; line-height:20px; border-bottom:solid #cfcfcf 1px;}
#sort .lists dl.here ul.soft strong{ background:none; color: #C00; line-height:20px; padding:0; width:90px; margin:0 5px 0 0; float:left; z-index:inherit;}
#sort .lists dl.here ul.soft span{ float:left; width:400px; color:#999;}
#sort .lists dl.here ul.ban{padding:0 0 0 10px; width:150px;}
#sort .lists dl.here ul.ban li{ padding:5px 0 10px 0;}
#sort .lists dl.here ul.ban li a{ display:block;}

#sort.here h2{background: url(../images/sort_title.gif) no-repeat 0 0;}
#sort.here .sortbot{display:block;}
#sort.here .lists{display:block;}

.menubgs .right ul.menu{ height:40px; line-height:40px;padding:0 0 8px 0; margin:0;font-size:14px; overflow:hidden;}
.menubgs .right ul.menu li{ float:left; height:40px;}
.menubgs .right ul.menu li.space { width:1px; overflow:hidden; overflow:hidden; background: url(../images/bg_menu.gif) 0 -40px;}
.menubgs .right ul.menu li a{ display:block; height:40px; padding:0 25px; text-align:center;letter-spacing:1px;}
.menubgs .right ul.menu li a:link,
.menubgs .right ul.menu li a:visited {color: #fff;}
.menubgs .right ul.menu li a.here:link,
.menubgs .right ul.menu li a.here:visited {color: #fff; background: url(../images/bg_menu.gif); font-weight:bold; }
.menubgs .right ul.menu li a:hover,
.menubgs .right ul.menu li a:active { font-weight:bold; }
.menubgs .right ul.menu li.online_ser{ display:block; float:right; width:139px; height:40px; background:url(../images/botton_ser.gif) no-repeat 0 0;}
.menubgs .right ul.menu li.online_ser a,
.menubgs .right ul.menu li.online_ser a:link,
.menubgs .right ul.menu li.online_ser a:visited,
.menubgs .right ul.menu li.online_ser a:hover,
.menubgs .right ul.menu li.online_ser a:active{ display:block; background:none; width:139px; height:40px;}


.foot .sers1{ width:1000px; height:150px; padding:15px 0 0; margin:0 auto; text-align:left; border-top:solid 1px #ccc; background:#efefef;}
.foot .sers1 dl{ width:20%; padding:0; margin:0 auto; height:140px; overflow:hidden; float:left;}
.foot .sers1 dl dt{ width:130px; padding:0; margin:0 auto 5px auto; height:30px; border-bottom:solid 1px #ccc; line-height:30px; padding:0 0 0 25px; font-weight:bold;}
.foot .sers1 dl dt.s1{ background:url(../images/icon_ser.gif) no-repeat 4px -36px;}
.foot .sers1 dl dt.s2{ background:url(../images/icon_ser.gif) no-repeat 4px -76px;}
.foot .sers1 dl dt.s3{ background:url(../images/icon_ser.gif) no-repeat 4px -116px;}
.foot .sers1 dl dt.s4{ background:url(../images/icon_ser.gif) no-repeat 4px -156px;}
.foot .sers1 dl dt.s5{ background:url(../images/icon_ser.gif) no-repeat 4px -199px;}
.foot .sers1 dl dt.s6{ background:url(../images/icon_ser.gif) no-repeat 4px -238px;}
.foot .sers1 dl dd{ width:130px; padding:0; margin:0 auto; height:20px; line-height:30px; padding:0 0 0 25px; background:url(../images/icon_ser.gif) no-repeat 8px 10px;}