dl,dt,dd,ul,li{ padding:0; margin:0;}

.menubgs{ background:url(../images/bg_home.gif); height:40px;}

.place{ line-height:40px; color:#2A9CA7; background:url(../images/bg_home.gif) no-repeat 5px -481px; padding:0 10px; width:980px; margin:0 auto;}
.place strong{ font-size:14px;}
.place strong a{ padding:0;}
.place a{ margin:0 5px; color:#2A9CA7;}
.place a:hover { color:#db0000;}
.place span{ float:right;}
.place span strong{ font-size:14px; color: #C00;}


.main{ /*padding:10px 0 0 0;*/}

.main .left{  overflow:hidden;}
.main .right{  overflow:hidden;}
.main .titles{ line-height:30px; font-size:14px; font-weight:bold; margin:0 auto;}
.main .kuang{ margin:0 auto 10px auto;border:solid 1px #2a9ca7; padding:0;}

.main .right .titles{background: url("../images/bg_title.gif") no-repeat 5px 29px; padding:0 0 0 15px; color: #2A9CA7; height: 30px; line-height: 30px;}
.main .right .sort_title{ background: url(../images/bg_sel.gif) repeat-x 0 0;color:#fff; height:35px; line-height:35px;}
.main .right .sort_title a{ color:#fff;}
.main .right .kuang{ width:213px; }
.main .right .kuang span.sort_but1,
.main .right .kuang span.sort_but2{ display:block; cursor:pointer; margin:5px auto 5px auto; width:185px; line-height:25px; text-align:center; background:url(../images/pro/icon_pro.gif) no-repeat 0 -305px;}
.main .right .kuang span.sort_but2{ background-position:0 -330px;}

.main .right dl.sort_list{ width:198px; color:#999}
.main .right dl.sort_list dt{ padding:0 0 0 15px; background: url(../images/pro/icon_pro.gif) no-repeat 0 -116px; border-bottom:#ccc solid 1px; height:25px; line-height:25px; font-weight:bold; font-size:12px; cursor:pointer;}
.main .right dl.sort_list dt.here{ background: url(../images/pro/icon_pro.gif) no-repeat 0 -141px;}
.main .right dl.sort_list dd{ padding:3px 0 5px 0; display:none; border-bottom: #EBEBEB solid 1px;}
.main .right dl.sort_list dd ul li{overflow:hidden; line-height:14px; padding:5px 0 5px 30px; background:url(../images/pro/icon_pro.gif) no-repeat 20px 8px;}

.main .right .sort_search dl.sort_list dt{ background: url(../images/pro/icon_pro.gif) no-repeat 0 -380px; border-color:#d7e3ee;}
.main .right .sort_search dl.sort_list dt.here{ background: url(../images/pro/icon_pro.gif) no-repeat 0 -355px; }
.main .right .sort_search dl.sort_list dd{border-color:#d7e3ee;}

.main .right ul.brand{ width:198px;}
.main .right ul.brand li{ padding:5px 0 5px 13px; width:53px; float:left;line-height:14px; background:url(../images/pro/icon_pro.gif) no-repeat 6px 8px;}

.main .right dl.pros{overflow:hidden; padding:0 0 10px 0;}
.main .right dl.pros dt,.main .left dl.pros dd{ border-bottom:solid 1px #eee;}
.main .right dl.pros dt{line-height:20px; padding:8px;}
.main .right dl.pros strong{ float:left; color:#C00; padding:0 8px 0 0; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
.main .right dl.pros img{ float:left; margin:0 5px 0 0;width:55px; height:55px;}
.main .right dl.pros dt a{ display:block;}
.main .right dl.pros span{ color:#F00;}
.main .right dl.pros dd{ line-height:25px;height:25px; overflow:hidden; padding:3px 8px 3px 8px;}
.main .right dl.pros dd.empty{ padding:10px 15px 0 0; font-size:14px; text-align:right; border:0;}
.main .right dl.pros dd.empty a{ cursor:pointer;}

.main .right dl.recently dt img{ border:solid 1px #eee;}

.main .right .shop{ padding:8px 0 8px 8px; background:url(../images/bg.gif) repeat-x 0 -400px; width:190px;}
.main .right .shop{ line-height:15px;}
.main .right .shop dt{ float:left; width:65px; padding:5px 0 5px 0;}
.main .right .shop dd{ float:left; width:125px; padding:5px 0 5px 0;}
.main .right .shop dd span{ float:right; margin:0 8px 0 0;}
.main .right .shop .button2{ float:left; margin:0 3px 0 0;} 

.main .left .titles{ /*width:970px;*/ border-bottom: solid 1px #ccc; line-height:33px;}
.main .left .titles span{ float:right; font-size:12px; font-weight:normal;}
.main .left .kuang{ border-top: solid 2px #C00; background:url(../images/bg.gif) repeat-x 0 -400px;}

.main .left dl.rcom{ width:988px;padding:0; margin:0; height:220px;}
.main .left dl.rcom dt{ width:44px; float:left; height:220px;cursor:pointer;}
.main .left dl.rcom dt.pv{background:url(../images/pro/pro_flash.gif) no-repeat 11px 95px;}
.main .left dl.rcom dt.next{background:url(../images/pro/pro_flash.gif) no-repeat -39px 95px;}
.main .left dl.rcom dd{ width:900px; float:left; height:220px; overflow:hidden;position:relative; z-index:1}
.main .left dl.rcom dd ul{ width:10000px; height:220px; position:relative; z-index:0;}
.main .left dl.rcom dd ul li{ float:left; height:190px; width:125px; padding:15px 27px 15px 28px;text-align: center; overflow:hidden; line-height:15px;}
.main .left dl.rcom dd ul li img{ width:125px; height:125px; padding:0 0 10px 0;}
.main .left dl.rcom dd ul li .button2{ width:125px; margin:10px 0 0 0;}

.main .listtop{ border:solid 1px #ccc; border-top: solid 2px #ccc; padding:5px; background: url(../images/bg.gif) repeat-x 0 -1550px; line-height:20px; padding:10px 0 10px 0;height:20px; margin:10px 0 10px 0;}
.main .listtop dt{ float:left; padding:0 5px 0 5px; height:20px;}
.main .listtop dt strong{ color:#C00;}
.main .listtop dt a{ border:solid 1px #ccc; display:block; height:18px; float:left; line-height:18px; margin:0 3px 0 0; padding:0 5px 0 5px;}
.main .listtop dt a:link,
.main .listtop dt a:visited { background: url(../images/pro/icon_pro.gif) no-repeat 0 -78px; color:#666;}
.main .listtop dt a.here:link,
.main .listtop dt a.here:visited, 
.main .listtop dt a:hover,
.main .listtop dt a:active { background: url(../images/pro/icon_pro.gif) no-repeat 0 -98px; color:#C00; border-color:#900;}
.main .listtop dt a.up_now{ background: url(../images/pro/icon_pro.gif) no-repeat right -58px; color:#C00; border-color:#900; padding:0 15px 0 5px;}
.main .listtop dt a.down_now{ background: url(../images/pro/icon_pro.gif) no-repeat right -98px; color:#C00; border-color:#900; padding:0 15px 0 5px;}
.main .listtop dt a.up_no,
.main .listtop dt a.down_no{ padding:0 15px 0 5px;}
.main .listtop dt a.up_no:link,
.main .listtop dt a.up_no:visited {  background: url(../images/pro/icon_pro.gif) no-repeat right -38px; color:#666;}
.main .listtop dt a.up_no:hover,
.main .listtop dt a.up_no:active {  background: url(../images/pro/icon_pro.gif) no-repeat right -58px; color:#C00; border-color:#900;}
.main .listtop dt a.down_no:link,
.main .listtop dt a.down_no:visited { background: url(../images/pro/icon_pro.gif) no-repeat right -78px; color:#666;}
.main .listtop dt a.down_no:hover,
.main .listtop dt a.down_no:active { background: url(../images/pro/icon_pro.gif) no-repeat right -98px; color:#C00; border-color:#900;}
.main .listtop dt input{border:solid 1px #ccc; border-bottom-color:#999; height:18px; padding:0 3px 0 3px; margin:0; line-height:20px;}
.main .listtop dt input.sub{  background: url(../images/pro/icon_pro.gif) no-repeat 0 -38px;cursor:pointer; height:20px;}
.main .listtop dd{ float:right; padding:0 5px 0 0;}
.main .listtop dd a.list_style1,
.main .listtop dd a.list_style2{ width:82px; height:20px; display:block; float:left; margin:0 5px 0 0;}
.main .listtop dd a.list_style1:link,
.main .listtop dd a.list_style1:visited { background: url(../images/pro/icon_pro.gif) no-repeat 0 -190px;}
.main .listtop dd a.list_style1:hover,
.main .listtop dd a.list_style1:active { background: url(../images/pro/icon_pro.gif) no-repeat 0 -210px;}
.main .listtop dd a.list_style2:link,
.main .listtop dd a.list_style2:visited { background: url(../images/pro/icon_pro.gif) no-repeat -82px -190px;}
.main .listtop dd a.list_style2:hover,
.main .listtop dd a.list_style2:active { background: url(../images/pro/icon_pro.gif) no-repeat -82px -210px;}
.main .listtop dd.pagenum{ width:70px; text-align:center;}
.main .listtop dd.pagenum a{width:14px; height:20px; border:0; margin:0 3px 0 3px; padding:0; cursor:pointer; display:block;}
.main .listtop dd.pagenum a.next1{ background:url(../images/pro/icon_pro.gif) no-repeat 0 -169px; float:right;}
.main .listtop dd.pagenum a.next2{ background:url(../images/pro/icon_pro.gif) no-repeat -14px -169px;float:right;} 
.main .listtop dd.pagenum a.pv1{ background:url(../images/pro/icon_pro.gif) no-repeat -28px -169px;float:left;}
.main .listtop dd.pagenum a.pv2{ background:url(../images/pro/icon_pro.gif) no-repeat -42px -169px;float:left; }


.main .left .listbgs{ margin:0; width:988px; border:solid 1px #ccc; border-top:solid 3px #900; background:url(../images/bgs3.gif) repeat-x 0 0; padding:10px 0 10px 0;}
.main .left .listbgs dl{ padding:5px 0 6px 0; background:url(../images/bgs5.gif) repeat-x 0 bottom; width:970px; margin:0 auto; line-height:25px;background:url(../images/bg_list.gif) repeat-x 0 bottom;}
.main .left .listbgs dl a{ color: #069; padding:2px;}
.main .left .listbgs dl a:link,
.main .left .listbgs dl a:visited {color: #069;}
.main .left .listbgs dl a.here:link,
.main .left .listbgs dl a.here:visited,
.main .left .listbgs dl a:hover,
.main .left .listbgs dl a:active {color: #fff; background:#F90;}
.main .left .listbgs dl dt{ width:130px; padding:0; float:left; text-align:right;}
.main .left .listbgs dl dt strong{ padding:0 8px 0 0;}
.main .left .listbgs dl dd{ width:830px; padding:0; float:right;}
.main .left .listbgs dl dd ul{ padding:0; width:830px; margin:0 auto; background:none;}
.main .left .listbgs dl dd li{ padding:0 25px 0 0; float:left; height:25px;}
.main .left .listbgs dl dd.brand li{ display: block;width:95px; padding:0;}


.main .left .prolist{ width:984px; padding:30px 3px 15px 3px; border-top: solid 2px #933; background:url(../images/bg_page.jpg) repeat-x 0 -230px;}
.main .left .prolist dl{ float:left; width:226px;text-align:center;padding:0 10px 0 10px; }
.main .left .prolist dl a{ display:block; line-height:18px;overflow:hidden;}
.main .left .prolist dl dt{ height:246px; overflow:hidden;}
.main .left .prolist dl dt img{ width:200px; height:200px; padding:0 0 10px 0;}
.main .left .prolist dl dt a span,.main .right .prolist dl dd strong{ color:#C00;}
.main .left .prolist dl dd{ height:100px; color:#069;}
.main .left .prolist dl dd a span{ color:#063;}
.main .left .prolist dl dd a.buy{ background:url(../images/pro/icon_pro.gif) no-repeat -105px -166px; float:left; height:24px; display:block; width:43px; padding:0 0 0 50px; margin:5px 0 0 0;line-height:24px; cursor:pointer; color:#000;}
.main .left .prolist dl dd input{ width:47px; height:24px; line-height:20px; text-align:center;background:url(../images/pro/icon_pro.gif) no-repeat -56px -166px; float:left; margin:5px 0 0 5px; border:0; padding:0; cursor:pointer;}


.main .left .plist{ width:980px; padding:30px 5px 15px 5px; border-top: solid 2px #933; background:url(../images/bg_page.jpg) repeat-x 0 -230px;}
.main .left .plist dl{ float:left; width:950px;padding:15px; height:100px; background:url(../images/bg_list.gif) repeat-x 0 bottom;}
.main .left .plist dl.listss2{background: #F8F8F8 url(../images/bg_list.gif) repeat-x 0 bottom;}
.main .left .plist dl dt{ height:102px; overflow:hidden; float:left; width:560px;}
.main .left .plist dl dt img{ width:100px; height:100px; float:left; padding:0; border:solid 1px #ccc; margin:0 20px 0 0;}
.main .left .plist dl dt a span{ color:#C00;}
.main .left .plist dl dd strong{ color:#C00;display:block; font-size:14px; padding:0 0 10px 0;}
.main .left .plist dl dd{ height:92px; padding:10px 0 0 0; color:#069; width:200px; float:right;}
.main .left .plist dl dd a{ display:block; line-height:20px;overflow:hidden;}
.main .left .plist dl dd a span{ color:#063;}
.main .left .plist dl dd a.buy{ background:url(../images/pro/icon_pro.gif) no-repeat -133px -166px; float:left; height:24px; display:block; width:43px; padding:0 0 0 30px; margin:5px 0 0 0;line-height:24px; cursor:pointer; }
.main .left .plist dl dd input{ width:47px; height:24px; line-height:20px; text-align:center;background:url(../images/pro/icon_pro.gif) no-repeat -56px -166px; float:left; margin:5px 0 0 5px; border:0; padding:0; cursor:pointer;}

.main .page{ border-top:solid 1px #ccc; line-height:30px; padding:10px 0 10px 0; text-align:right; color:#999; font-size:14px;}
.main .page a{ padding:5px 10px 5px 10px; margin:0 2px 0 2px; border:solid 1px #fff; color:#999; color:#C00;}
.main .page a:link,
.main .page a:visited {color: #069; border:solid 1px #ccc;}
.main .page a:hover,
.main .page a:active {color: #000;text-decoration:none; border:solid 1px #fff;}


ul.select{ border-bottom:solid 1px #2a9ca7; margin:35px 0 0 0; font-size:12px; height:28px;}
ul.select li{ float:left; height:29px; line-height:28px; width:101px; padding:0; margin:0 3px 0 0;background: url(../images/pro/pro_select.gif) no-repeat -150px 0;  text-align:center; cursor:pointer;}
ul.select li.here{ background: url(../images/pro/pro_select.gif) no-repeat 0 0; color:#2a9ca7;font-weight:bold;}
ul.select li strong{ color:#C00;}
ul.select li.here strong{ color: #FC0}

.main .left .moreinfo{background:#2a9ca7; padding:0 0 0 10px; margin:0; width:715px; text-align:left;}
.main .left .Comments{ padding:0; border:solid 1px #E9E9E9; border:0 1px 0 1px; width:723px;}
.main .left .Comments dl{ border-bottom:solid 1px #E9E9E9; width:723px;}
.main .left .Comments dl dt{ padding:0 15px; font-size:12px; text-align:right;height:30px; overflow:hidden; background:#f4f4f4; color:#333; line-height:30px;}
.main .left .Comments dl dt span{ float:left; font-size:14px; color:#000;}
.main .left .Comments dl dd{ padding:8px 0 8px 15px; color:#999; line-height:16px; text-align:left;}
.main .left .Comments dl a{ color:#069; padding:0 0 0 5px;}
.main .left .Comments dl a:visited {color: #069;}
.main .left .Comments dl a:hover,
.main .left .Comments dl a:active {color: #C00;}



.icon_ticket { background:#fb8d30; padding:2px; float:left; font-size:12px; color:#FFF; width:18px; height:18px; line-height:18px; text-align:center; cursor:pointer;}
.icon_ticket_border { border:solid 1px #fb8d30; height:18px;line-height:18px;padding:1px 3px; float:left; margin-right:10px; cursor:pointer;} 
.icon_ticket2 { background:#c00;}
.icon_ticket_div { position:absolute; width:60px; height:60px; background: url(../images/pro/pro_botton.gif) no-repeat 0 -250px; margin:150px 0 0 0;}
/*活动*/
.main .right2 { width:1200px; overflow:hidden;}
.main .right2 .prolist  { width:1200px; overflow:hidden;}
.main .right2 .prolist dl { padding: 0 7px;}





.right2 .list2{ width:1200px; }
.right2 .list2 dl{ height:280px;width:187px; padding:0; float:left; text-align:center; color:#999; border:solid 1px #ccc; margin:10px 5px;}
.right2 .list2 strong{ font-size:14px; font-family:Arial, Helvetica, sans-serif;}
.right2 .list2 dl dt{ line-height:32px;background:#f7f7f7}
.right2 .list2 dl dt span{ background:#fff url(../images/bg_list.gif) repeat-x 0 0; line-height:16px; height:205px; width:156px; padding:10px 15px 0 16px; display:block;}
.right2 .list2 dl dt strong{ color:#666;}
.right2 .list2 dl dt span img{ width:145px; height:145px; padding:0 5px 10px 6px;}
.right2 .list2 dl dd { line-height:30px; height:30px; background:url(../images/bg_list.gif) repeat-x 0 0;}
.right2 .list2 dl dd strong{ color:#C00; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: "."; clear: both; height: 0;}
.clearfix{*zoom:1;}