
.left .guarantee{ width:192px; padding:0 4px 0 4px; margin:0 0 10px 0; height:77px; background:url(../images/pro/pro_botton.gif) no-repeat 0 -110px;}
.left .guarantee a{ width:64px; height:29px; padding:48px 0 0 0; display:block; float:left; text-align:center;}

.main .left{ width:755px;}
.main .left .protitle{ width:380px; font-size:16px; font-weight:bold; line-height:30px; font-family:Arial, Helvetica, sans-serif; padding:0 0 15px; color:#2a9ca7;}
.main .left dl.proshow{ width:755px;  font-size:12px;}
.main .left dl.proshow dt{ width:353px; padding:0; margin:0; float:left;position:relative;}
.main .left dl.proshow dt .izImage{border:1px solid #2a9ca7;width:353px; height:353px; margin:0 0 5px 0;background:#fff url(../images/pro/o_loading.gif) no-repeat 169px 169px; }
.main .left dl.proshow dt .izViewer{width:351px;height:351px;position:absolute;left:370px;top:0;display:none; border:2px solid #2a9ca7;}
.main .left dl.proshow dt .list img{ width:50px; height:50px; padding:1px; margin: 0 3px 0 0; border:solid 1px #ccc; cursor:pointer;}
.main .left dl.proshow dt .list img.onzoom{ border:solid 2px #2a9ca7; padding:0;}
.main .left dl.proshow dt .handle{display:none;opacity:0.6;filter:alpha(opacity=60);background:#E6EAF3; cursor:crosshair;}

.main .left dl.proshow dt ul { width:372px;}
.main .left dl.proshow dt ul li{ float:left; font-size:12px; padding-top:5px; margin-top:7px;}
.main .left dl.proshow dt ul li.share{ margin-top:3px;}
.main .left dl.proshow dt ul li.share img{ padding:2px; width:18px; height:18px; margin:0 5px 0 0;}
.main .left dl.proshow dt ul li.share a:link img,
.main .left dl.proshow dt ul li.share a:visited img{ border:solid 1px #fff;}
.main .left dl.proshow dt ul li.share a:hover img,
.main .left dl.proshow dt ul li.share a:active img { border:solid 1px #ccc;}
.main .left dl.proshow dt ul li.collection{ float:right; display:block; padding:5px 0 0 18px; height:15px; line-height:15px;margin:7px 5px 0 0; background:url(../images/pro/pro_botton.gif) no-repeat -21px 7px; color:#999;overflow:hidden;}


.main .left dl.proshow dd{ width:380px; float:right; padding:0; margin:0;}
.main .left dl.proshow dd strong{ color:#fc0000; font-size:16px;}

.main .left dl.proshow dd ul{ width:380px; padding:0; margin:0 auto; line-height:25px;}
.main .left dl.proshow dd ul li{ padding:1px 2px;}
.main .left dl.proshow dd ul li strong{ color:#C00; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
.main .left dl.proshow dd ul li span{ display:block; width:80px; float:left;}
/*.main .left dl.proshow dd ul li.bu{ border-bottom:solid 1px #E1E1E1; margin:0 0 10px 0;}*/
.main .left dl.proshow dd ul li span.icon_ca{display:block; width:21px; height:13px; float:left; margin:7px 5px 0 0; background:url(../images/pro/pro_botton.gif) no-repeat 0 0;}
.botton_buy{ display:block; width:127px; height:36px; float:left; margin:0 8px 0 0; background:url(../images/pro/pro_botton.gif) no-repeat 0 -13px;}
.botton_car{ display:block; width:127px; height:36px; float:left; margin:0 8px 0 0; background:url(../images/pro/pro_botton.gif) no-repeat 0 -49px;}
.botton_ca{ display:block; width:90px; height:27px; float:left; margin:8px 0 0 0; background:url(../images/pro/pro_botton.gif) no-repeat 0 -83px;}
.sanchu{ text-decoration:line-through;}

.main .left dl.proshow dd ul li.prosels strong{ display:block; font-size:12px; font-weight:normal; color:#000; float:left; line-height:20px; border:solid 1px #ccc; padding:1px 8px 1px 8px; margin:0 5px 0 0; cursor:pointer; height:20ox;}
.main .left dl.proshow dd ul li.prosels strong.here{ border:solid 2px #C00; background: url(../images/pro/icon_pro.gif) no-repeat right -260px; padding:0 7px 0 7px;}


/*.main .left dl.proshow dd ul li.prolace strong{ display:block; font-size:12px; font-weight:normal; color:#000; float:left; line-height:20px; height:20px; }
.main .left dl.proshow dd ul li.prolace strong span{ position:relative; z-index:1;border:solid 1px #ccc; padding:0 5px 0 0; margin:0 5px 0 0; cursor:pointer; width:50px; text-align:center; background: url(../images/pro/icon_pro.gif) no-repeat right -234px;}
.main .left dl.proshow dd ul li.prolace strong ul{ display:none; width:300px; padding:5px; background:#f1f5f9; border:solid 1px #069;top:0; position: relative; top:0\9; left:auto; z-index:0; margin:0 0 0 55px;}
.main .left dl.proshow dd ul li.prolace strong.here ul{ display:block;}
.main .left dl.proshow dd ul li.prolace strong.here ul li{ width:50px; float:left; padding:5px; cursor:pointer; line-height:20px;}
.main .left dl.proshow dd ul li.prolace strong.here ul li span { border:solid 1px #ccc; padding:0; background:#fff;}
.main .left dl.proshow dd ul li.prolace strong.here ul li span:hover,
.main .left dl.proshow dd ul li.prolace strong.here ul li span:active {color: #C00;}
.main .left dl.proshow dd ul li.prolace strong.here span{ border:solid 1px #069; border-right:0;background:#f1f5f9;}

.main .left dl.proshow dd ul li.sale{ height:22px;line-height:22px; font-size:12px; background:#F8EFEF; padding:5px 0 5px 10px; margin:0 0 1px 0;}
.main .left dl.proshow dd ul li.sale span{ width:68px; height:22px; color: #fff; background:url(../images/pro/icon_pro.gif) no-repeat 0 -285px; padding:0 8px 0 0;  text-align:center;}
.main .left dl.proshow dd ul li.sale strong{ font-size:12px;}
.main .left dl.proshow dd ul li.sale h1{ float:left; color:#C00; font-size:18px; font-family:Arial, Helvetica, sans-serif; padding:0 5px 0 0;}
.main .left dl.proshow dd ul li.sale a{ padding:0 0 0 10px;}
.main .left dl.proshow dd ul li.sale a:link,
.main .left dl.proshow dd ul li.sale a:visited {color:#069}
.main .left dl.proshow dd ul li.sale a:hover,
.main .left dl.proshow dd ul li.sale a:active {color: #C00;}*/

.main .left dl.proshow dd ul.rate {background:#f2feff; padding:5px 10px; border:solid 1px #2a9ca7; width:358px; margin:10px 0;}
.main .left dl.proshow dd ul.rate table td { text-align:center; height:30px; line-height:30px;}
.main .left dl.proshow dd ul.rate table td.note { text-align:left; color:#939393;}
.main .left dl.proshow dd ul.rate table input.theinput {height:20px; border:solid 1px #ccc; border-bottom:solid 1px #999; padding:0 2px 0 2px; margin:0 5px 0 5px; width:50px;}

.main .left dl.proshow dd ul.type li { padding:3px 2px;}

.main .left dl.proshow dd ul li input.theinput {height:20px; border:solid 1px #ccc; border-bottom:solid 1px #999; padding:0 2px 0 2px; margin:0 5px 0 5px;}
.main .left dl.proshow dd ul li input#plus, .main .left dl.proshow dd ul.rate table input#plus1{ width:14px; height:15px; margin:3px 0 0 0; background:url(../images/pro/icon_pro.gif) no-repeat -164px -190px; border:0; padding:0;}
.main .left dl.proshow dd ul li input#subtract, .main .left dl.proshow dd ul.rate table input#subtract1{ width:14px; height:15px; margin:3px 0 0 0; background:url(../images/pro/icon_pro.gif) no-repeat -178px -190px; border:0; padding:0;}


.main .left .collocation{ width:788px; padding:9px; border:solid 1px #FCD7C7; background: #FDF7EE; height:172px; line-height:16px;}
.main .left .collocation a span{ display:block; height:32px; width:130px;}
.main .left .collocation a img{ width:100px; height:100px; padding:0 0 5px 0; display:block;}
.main .left .collocation strong{ color: #F60;}
.main .left .collocation dt{ float:left; width:640px; border:solid 1px #FCD7C7; background:#fff; height:170px; overflow:hidden; text-align:center;}
.main .left .collocation dt a.thispro{ width:130px; padding:10px 40px 0 10px; height:160px; float:left; background:url(../images/icon3.gif) no-repeat 130px 50px;}
.main .left .collocation dt ul{ padding:0; margin:0; float:right; height:188px;width:460px; overflow:scroll;}
.main .left .collocation dt ul li{ width: auto;}
.main .left .collocation dt ul li a{ width:130px; padding:10px 16px 0 0; height:160px; float:left;}
.main .left .collocation dd{ float:right; width:140px; height:172px; line-height:25px;}
.main .left .collocation dd span{ color:#093;}

.main .left .info{ display:none; padding:15px;}
.main .left .info ul.show_c{padding:15px; background:#f6f6f6; margin:10px 0 10px 0; border-bottom:solid 1px #ddd; border-top:solid 1px #DBDBDB; line-height:25px;}
.main .left .info ul.show_c li{ float:left; width:50%; text-align:left;}

.tables{margin:0;}
.tables tr{ background:#f1f5f9;}
.tables th{ border-bottom:solid 1px #cbd6f0; padding:5px 10px 5px 10px;}
.tables td{ padding:5px 10px 5px 10px; background:url(../images/bg_list.gif) repeat-x 0 bottom;}
.main .left dl.proshow dd ul.bgs li .tables td input{ float:none; margin:0; padding:0;}