.jcarousel-skin-hot .jcarousel-item img{width:100px; height:100px;}
.jcarousel-skin-hot { clear: both; }
.jcarousel-skin-hot .jcarousel-container{height:140px; padding-top:15px;}
.jcarousel-skin-hot .jcarousel-direction-rtl {direction: rtl; }
.jcarousel-skin-hot .jcarousel-container-horizontal {}
.jcarousel-skin-hot .jcarousel-clip {overflow: hidden; }
.jcarousel-skin-hot .jcarousel-clip-horizontal {}
.jcarousel-skin-hot .jcarousel-item{width:237px; height:124px; float:left;color:#666;}
.jcarousel-skin-hot .jcarousel-item-horizontal {}
.jcarousel-skin-hot .jcarousel-direction-rtl .jcarousel-item-horizontal { margin-left: 10px; margin-right: 0; }
.jcarousel-skin-hot .jcarousel-item-placeholder { background: #fff; color: #000; }
/**
 *  Horizontal Buttons
 */
.jcarousel-skin-hot .jcarousel-next-horizontal { cursor: pointer; background: transparent url(../images/../images/btn5.png) no-repeat 0 0; position: absolute; right:-1px; top: 26px; height:106px; width:53px; }
.jcarousel-skin-hot .jcarousel-direction-rtl .jcarousel-next-horizontal { left: 5px; right: auto; background-image: url(../images/btn5.png); }
.jcarousel-skin-hot .jcarousel-next-horizontal:hover, .jcarousel-skin-hot .jcarousel-next-horizontal:focus { background-position: 0 0; }
.jcarousel-skin-hot .jcarousel-next-horizontal:active { background-position:0 0; }
.jcarousel-skin-hot .jcarousel-next-disabled-horizontal, .jcarousel-skin-hot .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-hot .jcarousel-next-disabled-horizontal:focus, .jcarousel-skin-hot .jcarousel-next-disabled-horizontal:active { cursor: default; background-position:0 0; }
.jcarousel-skin-hot .jcarousel-prev-horizontal { position: absolute; top: 26px; left:-1px;height:106px; width:53px;cursor: pointer; background: transparent url(../images/btn5.png) no-repeat -54px 0; }
.jcarousel-skin-hot .jcarousel-direction-rtl .jcarousel-prev-horizontal {left: auto; right: 5px; background-image: url(next-horizontal.png); }
.jcarousel-skin-hot .jcarousel-prev-horizontal:hover, .jcarousel-skin-hot .jcarousel-prev-horizontal:focus {background-position:-55px 0; }
.jcarousel-skin-hot .jcarousel-prev-horizontal:active { background-position:-55px 0px; }
.jcarousel-skin-hot .jcarousel-prev-disabled-horizontal, .jcarousel-skin-hot .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-hot .jcarousel-prev-disabled-horizontal:focus, .jcarousel-skin-hot .jcarousel-prev-disabled-horizontal:active { cursor: default; background-position: 0 0; }
