/* mobile hd icon */

 @media (min-width: 0px) and (max-width: 320px) {
.search-icon { background-image: url(/images/mobile/drawable-hdpi/320/search_icon.png); background-repeat: no-repeat; background-size: 100% auto; }
.search-i-1 { background-position: 0 0; }/*50x2*/
.search-i-2{background-position:0 -50px;}
.search-i-3{background-position:0 -100px;}
.search-i-4{background-position:0 -150px;}
.search-i-5{background-position:0 -200px;}
.search-i-6{background-position:0 -250px;}
.search-i-7{background-position:0 -300px;}
.search-i-8{background-position:0 -350px;}
.search-i-9{background-position:0 -400px;}
.search-i-10{background-position:0 -450px;}
.search-i-11{background-position:0 -500px;}
.search-i-12{background-position:0 -550px;}
.search-i-13{background-position:0 -600px;}
.search-i-14{background-position:0 -650px;}
.search-i-15{background-position:0 -700px;}
.search-i-16{background-position:0 -750px;}
/*.search-i-17{background-position:0 -850px;}
.search-i-18{background-position:0 -900px;}
.search-i-19{background-position:0 -950px;}
.search-i-20{background-position:0 -1000px;}
.search-i-21{background-position:0 -1050px;}*/
.search-i-shop{background-position:0 -800px;}
.more-icon { background-image: url(/images/mobile/drawable-hdpi/320/more_icon.png); background-repeat: no-repeat;background-size: 100% auto;}
.more_gg { background-position: 0 0; }/*50*/
.more_llls { background-position: 0 -50px; }
.more_bzzx { background-position: 0 -100px; }
.more_gy { background-position: 0 -150px; }
.more_jczx { background-position: 0 -200px; }
.my-icon{ background-image: url(/images/mobile/drawable-hdpi/320/my_icbc_icon.png); background-repeat: no-repeat; background-size: 100% auto; }
.my-icon-order{ background-position:0 0;}/*34x2*/
.my-icon-fav{ background-position:0 -34px;}
.my-icon-juan{ background-position:0 -68px;}
.my-icon-msg{ background-position:0 -102px;}
.my-icon-car{ background-position:0 -136px;}
.my-icon-tip{ background-position:0 -170px;}
.reg-icon{ background-image: url(/images/mobile/drawable-hdpi/320/reg_icon.png); background-repeat: no-repeat; background-size: 100% auto; }
.reg-i-people{background-position:0 0;}/*17x2*/
.reg-i-lock{background-position:0 -17px;}
.reg-i-emali{background-position:0 34-px;}
.reg-i-location{background-position:0 -51px;}
.reg-i-moblie{background-position:0 -68px;}







}
@media (min-width:321px) and (max-width: 480px) {
.search-icon { background-image: url(/images/mobile/drawable-hdpi/480/search_icon.png); background-repeat: no-repeat; background-size: 100% auto; }
.search-i-1 { background-position: 0 0; }/*60x2*/
.search-i-2{background-position:0 -60px;}
.search-i-3{background-position:0 -120px;}
.search-i-4{background-position:0 -180px;}
.search-i-5{background-position:0 -240px;}
.search-i-6{background-position:0 -300px;}
.search-i-7{background-position:0 -360px;}
.search-i-8{background-position:0 -420px;}
.search-i-9{background-position:0 -480px;}
.search-i-10{background-position:0 -540px;}
.search-i-11{background-position:0 -600px;}
.search-i-12{background-position:0 -660px;}
.search-i-13{background-position:0 -720px;}
.search-i-14{background-position:0 -780px;}
.search-i-15{background-position:0 -840px;}
.search-i-16{background-position:0 -900px;}
.search-i-shop{background-position:0 -960px;}
/*.search-i-18{background-position:0 -1020px;}
.search-i-19{background-position:0 -1080px;}
.search-i-20{background-position:0 -1140px;}
.search-i-21{background-position:0 -1200px;}
.search-i-22{background-position:0 -1260px;}*/
.more-icon { background-image: url(/images/mobile/drawable-hdpi/480/more_icon.png); background-repeat: no-repeat;background-size: 100% auto;}
.more_gg { background-position: 0 0; }
.more_llls { background-position: 0 -82px; }
.more_bzzx { background-position: 0 -164px; }
.more_gy { background-position: 0 -246px; }
.more_jczx { background-position: 0 -328px; }
.my-icon{ background-image: url(/images/mobile/drawable-hdpi/480/my_icbc_icon.png); background-repeat: no-repeat; background-size: 100% auto; }
.my-icon-order{ background-position:0 0;}/*36x2*/
.my-icon-fav{ background-position:0 -36px;}
.my-icon-juan{ background-position:0 -72px;}
.my-icon-msg{ background-position:0 -108px;}
.my-icon-car{ background-position:0 -144px;}
.my-icon-tip{ background-position:0 -180px;}
.reg-icon{ background-image: url(/images/mobile/drawable-hdpi/480/reg_icon.png); background-repeat: no-repeat; background-size: 100% auto; }
.reg-i-people{background-position:0 0;}/*30x2*/
.reg-i-lock{background-position:0 -30px;}
.reg-i-emali{background-position:0 -60px;}
.reg-i-location{background-position:0 -90px;}
.reg-i-moblie{background-position:0 -120px;}












}
 @media (min-width: 481px) and (max-width: 640px) {
.search-icon { background-image: url(/images/mobile/drawable-hdpi/640/search_icon.png); background-repeat: no-repeat;background-size: 100% auto;}
.search-i-1 { background-position: 0 0; }/*70x2*/
.search-i-2{background-position:0 -70px;}
.search-i-3{background-position:0 -140px;}
.search-i-4{background-position:0 -280px;}
.search-i-5{background-position:0 -355px;}
.search-i-6{background-position:0 -420px;}
.search-i-7{background-position:0 -490px;}
.search-i-8{background-position:0 -560px;}
.search-i-9{background-position:0 -630px;}
.search-i-10{background-position:0 -700px;}
.search-i-11{background-position:0 -770px;}
.search-i-12{background-position:0 -840px;}
.search-i-13{background-position:0 -910px;}
.search-i-14{background-position:0 -980px;}
.search-i-15{background-position:0 -1050px;}
.search-i-16{background-position:0 -1120px;}
.search-i-shop{background-position:0 -1120px;}
/*.search-i-18{background-position:0 -1190px;}
.search-i-19{background-position:0 -1260px;}
.search-i-20{background-position:0 -1330px;}
.search-i-21{background-position:0 -1400px;}
.search-i-22{background-position:0 -1470px;}*/
.more-icon { background-image: url(/images/mobile/drawable-hdpi/640/more_icon.png); background-repeat: no-repeat;background-size: 100% auto;}
.more_gg { background-position: 0 0; }
.more_llls { background-position: 0 -106px; }
.more_bzzx { background-position: 0 -212px; }
.more_gy { background-position: 0 -318px; }
.more_jczx { background-position: 0 -424px; }
.my-icon{ background-image: url(/images/mobile/drawable-hdpi/640/my_icbc_icon.png); background-repeat: no-repeat; background-size: 100% auto; }
.my-icon-order{ background-position:0 0;}/*61x2*/
.my-icon-fav{ background-position:0 -61px;}
.my-icon-juan{ background-position:0 -122px;}
.my-icon-msg{ background-position:0 -183px;}
.my-icon-car{ background-position:0 -244px;}
.my-icon-tip{ background-position:0 -305px;}
.reg-icon{ background-image: url(/images/mobile/drawable-hdpi/640/reg_icon.png); background-repeat: no-repeat; background-size: 100% auto; }
.reg-i-people{background-position:0 0;}/*38x2*/
.reg-i-lock{background-position:0 -38px;}
.reg-i-emali{background-position:0 -76px;}
.reg-i-location{background-position:0 -114px;}
.reg-i-moblie{background-position:0 -152px;}











}
@media (min-width: 641px) and (max-width: 720px) {
.search-icon { background-image: url(/images/mobile/drawable-hdpi/720/search_icon.png); background-repeat: no-repeat;background-size: 100% auto;}
.search-i-1 { background-position: 0 0; }/*80x2*/
.search-i-2{background-position:0 -80px;}
.search-i-3{background-position:0 -160px;}
.search-i-4{background-position:0 -240px;}
.search-i-5{background-position:0 -320px;}
.search-i-6{background-position:0 -400px;}
.search-i-7{background-position:0 -480px;}
.search-i-8{background-position:0 -560px;}
.search-i-9{background-position:0 -640px;}
.search-i-10{background-position:0 -720px;}
.search-i-11{background-position:0 -800px;}
.search-i-12{background-position:0 -880px;}
.search-i-13{background-position:0 -960px;}
.search-i-14{background-position:0 -1040px;}
.search-i-15{background-position:0 -1120px;}
.search-i-16{background-position:0 -1200px;}
.search-i-shop{background-position:0 -1280px;}
/*.search-i-18{background-position:0 -1360px;}
.search-i-19{background-position:0 -1440px;}
.search-i-20{background-position:0 -1520px;}
.search-i-21{background-position:0 -1600px;}
.search-i-22{background-position:0 -1680px;}*/
.more-icon { background-image: url(/images/mobile/drawable-hdpi/720/more_icon.png); background-repeat: no-repeat;background-size: 100% auto;}
.more_gg { background-position: 0 0; }
.more_llls { background-position: 0 -148px; }
.more_bzzx { background-position: 0 -296px; }
.more_gy { background-position: 0 -444px; }
.more_jczx { background-position: 0 -592px; }
.my-icon{ background-image: url(/images/mobile/drawable-hdpi/720/my_icbc_icon.png); background-repeat: no-repeat; background-size: 100% auto; }
.my-icon-order{ background-position:0 0;}/*88x2*/
.my-icon-fav{ background-position:0 -88px;}
.my-icon-juan{ background-position:0 -176px;}
.my-icon-msg{ background-position:0 -264px;}
.my-icon-car{ background-position:0 -352px;}
.my-icon-tip{ background-position:0 -440px;}
.reg-icon{ background-image: url(/images/mobile/drawable-hdpi/720/reg_icon.png); background-repeat: no-repeat; background-size: 100% auto; }
.reg-i-people{background-position:0 0;}/*51x2*/
.reg-i-lock{background-position:0 -51px;}
.reg-i-emali{background-position:0 -102px;}
.reg-i-location{background-position:0 -153px;}
.reg-i-moblie{background-position:0 -204px;}















}
@media (min-width: 721px) and (max-width: 1080px) {
.search-icon { background-image: url(/images/mobile/drawable-hdpi/1080/search_icon.png); background-repeat: no-repeat;background-size: 100% auto;}
.search-i-1 { background-position: 0 0; }/*90x2*/
.search-i-2{background-position:0 -90px;}
.search-i-3{background-position:0 -180px;}
.search-i-4{background-position:0 -270px;}
.search-i-5{background-position:0 -360px;}
.search-i-6{background-position:0 -450px;}
.search-i-7{background-position:0 -540px;}
.search-i-8{background-position:0 -630px;}
.search-i-9{background-position:0 -720px;}
.search-i-10{background-position:0 -810px;}
.search-i-11{background-position:0 -900px;}
.search-i-12{background-position:0 -990px;}
.search-i-13{background-position:0 -1080px;}
.search-i-14{background-position:0 -1170px;}
.search-i-15{background-position:0 -1260px;}
.search-i-16{background-position:0 -1350px;}
.search-i-shop{background-position:0 -1440px;}
/*.search-i-18{background-position:0 -1530px;}
.search-i-19{background-position:0 -1620px;}
.search-i-20{background-position:0 -1710px;}
.search-i-21{background-position:0 -1800px;}
.search-i-22{background-position:0 -1890px;}*/
.more-icon { background-image: url(/images/mobile/drawable-hdpi/1080/more_icon.png); background-repeat: no-repeat;background-size: 100% auto;}
.more_gg { background-position: 0 0; }
.more_llls { background-position: 0 -170px; }
.more_bzzx { background-position: 0 -340px; }
.more_gy { background-position: 0 -510px; }
.more_jczx { background-position: 0 -680px; }
.my-icon{ background-image: url(/images/mobile/drawable-hdpi/1080/my_icbc_icon.png); background-repeat: no-repeat; background-size: 100% auto; }
.my-icon-order{ background-position:0 -0px;}/*102x2*/
.my-icon-fav{ background-position:0 -102px;}
.my-icon-juan{ background-position:0 -204px;}
.my-icon-msg{ background-position:0 -306px;}
.my-icon-car{ background-position:0 -408px;}
.my-icon-tip{ background-position:0 -510px;}
.reg-icon{ background-image: url(/images/mobile/drawable-hdpi/1080/reg_icon.png); background-repeat: no-repeat; background-size: 100% auto; }
.reg-i-people{background-position:0 0;}/*57x2*/
.reg-i-lock{background-position:0 -57px;}
.reg-i-emali{background-position:0 -114px;}
.reg-i-location{background-position:0 -171px;}
.reg-i-moblie{background-position:0 -228px;}











}
 @media (min-width: 1081px) and (max-width: 1200px) {
.search-icon { background-image: url(/images/mobile/drawable-hdpi/1200/search_icon.png); background-repeat: no-repeat;background-size: 100% auto;}
.search-i-1 { background-position: 0 0; }/*100x2*/
.search-i-2{background-position:0 -100px;}
.search-i-3{background-position:0 -200px;}
.search-i-4{background-position:0 -300px;}
.search-i-5{background-position:0 -400px;}
.search-i-6{background-position:0 -500px;}
.search-i-7{background-position:0 -600px;}
.search-i-8{background-position:0 -700px;}
.search-i-9{background-position:0 -800px;}
.search-i-10{background-position:0 -900px;}
.search-i-11{background-position:0 -1100px;}
.search-i-12{background-position:0 -1200px;}
.search-i-13{background-position:0 -1300px;}
.search-i-14{background-position:0 -1400px;}
.search-i-15{background-position:0 -1500px;}
.search-i-16{background-position:0 -1600px;}
.search-i-shop{background-position:0 -1700px;}
/*.search-i-18{background-position:0 -1800px;}
.search-i-19{background-position:0 -1900px;}
.search-i-20{background-position:0 -2000px;}
.search-i-21{background-position:0 -2100px;}
.search-i-22{background-position:0 -2200px;}*/
.more-icon { background-image: url(/images/mobile/drawable-hdpi/1200/more_icon.png); background-repeat: no-repeat;background-size: 100% auto;}
.more_gg { background-position: 0 0; }
.more_llls { background-position: 0 -265px; }
.more_bzzx { background-position: 0 -530px; }
.more_gy { background-position: 0 -795px; }
.more_jczx { background-position: 0 -1060px; }
.my-icon{ background-image: url(/images/mobile/drawable-hdpi/1200/my_icbc_icon.png); background-repeat: no-repeat; background-size: 100% auto; }
.my-icon-order{ background-position:0 0;}/*162x2*/
.my-icon-fav{ background-position:0 -162px;}
.my-icon-juan{ background-position:0 -324px;}
.my-icon-msg{ background-position:0 -486px;}
.my-icon-car{ background-position:0 -648px;}
.my-icon-tip{ background-position:0 -10px;}
.reg-icon{ background-image: url(/images/mobile/drawable-hdpi/1200/reg_icon.png); background-repeat: no-repeat; background-size: 100% auto; }
.reg-i-people{background-position:0 0;}/*86x2*/
.reg-i-lock{background-position:0 -86px;}
.reg-i-emali{background-position:0 -172px;}
.reg-i-location{background-position:0 -258px;}
.reg-i-moblie{background-position:0 -344px;}











}
@media (min-width: 1201px) {
.search-icon { background-image: url(/images/mobile/drawable-hdpi/1201/search_icon.png); background-repeat: no-repeat;background-size: 100% auto;}
.search-i-1 { background-position: 0 0; }/*110x2*/
.search-i-2{background-position:0 -110px;}
.search-i-3{background-position:0 -220px;}
.search-i-4{background-position:0 -330px;}
.search-i-5{background-position:0 -440px;}
.search-i-6{background-position:0 -550px;}
.search-i-7{background-position:0 -660px;}
.search-i-8{background-position:0 -770px;}
.search-i-9{background-position:0 -880px;}
.search-i-10{background-position:0 -990px;}
.search-i-11{background-position:0 -1100px;}
.search-i-12{background-position:0 -1210px;}
.search-i-13{background-position:0 -1320px;}
.search-i-14{background-position:0 -1430px;}
.search-i-15{background-position:0 -1540px;}
.search-i-16{background-position:0 -1650px;}
.search-i-shop{background-position:0 -1760px;}
/*.search-i-18{background-position:0 -1870px;}
.search-i-19{background-position:0 -1980px;}
.search-i-20{background-position:0 -2090px;}
.search-i-21{background-position:0 -2200px;}
.search-i-22{background-position:0 -2310px;}*/
.more-icon { background-image: url(/images/mobile/drawable-hdpi/1201/more_icon.png); background-repeat: no-repeat;background-size: 100% auto;}
.more_gg { background-position: 0 0; }
.more_llls { background-position: 0 -265px; }
.more_bzzx { background-position: 0 -530px; }
.more_gy { background-position: 0 -795px; }
.more_jczx { background-position: 0 -1060px; }
.my-icon{ background-image: url(/images/mobile/drawable-hdpi/1200/my_icbc_icon.png); background-repeat: no-repeat; background-size: 100% auto; }
.my-icon-order{ background-position:0 0;}/*194x2*/
.my-icon-fav{ background-position:0 -194px;}
.my-icon-juan{ background-position:0 -388px;}
.my-icon-msg{ background-position:0 -582px;}
.my-icon-car{ background-position:0 -776px;}
.my-icon-tip{ background-position:0 -970px;}
.reg-icon{ background-image: url(/images/mobile/drawable-hdpi/1201/reg_icon.png); background-repeat: no-repeat; background-size:96px auto; }
.reg-i-people{background-position:0 0;}/*96x2*/
.reg-i-lock{background-position:0 -96px;}
.reg-i-emali{background-position:0 -192px;}
.reg-i-location{background-position:0 -288px;}
.reg-i-moblie{background-position:0 -384px;}































}
/* icon hotwords */
