<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:memcached="http://www.springmodules.org/schema/memcached"
	xmlns:tair="http://www.springmodules.org/schema/tair"
	xmlns:ehcache="http://www.springmodules.org/schema/ehcache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
            http://www.springmodules.org/schema/memcached http://www.springmodules.org/schema/cache/emallmodules-memcached.xsd
            http://www.springmodules.org/schema/tair http://www.springmodules.org/schema/cache/emallmodules-tair.xsd
            http://www.springmodules.org/schema/ehcache http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd"
	default-lazy-init="false">
	<jee:jndi-lookup id="dataSource" resource-ref="true"
		jndi-name="jdbc/mall" />
 	<ehcache:config configLocation="classpath:ehcache.xml" />
<!--	<memcached:config systemProperty="propertyPath"
		propertyFileName="env.properties" id="memcachedProvider" /> -->
		
   	<tair:config  systemProperty="propertyPath" propertyFileName="env.properties" id="tairProvider" /> 
 
		
	<ehcache:proxy id="systemParamInfoServiceProxy" refId="systemParamInfoService">
		<ehcache:caching cacheName="com.icbc.emall.ehcache"
			methodName="getSystemParamInfo" />
		<ehcache:caching cacheName="com.icbc.emall.ehcache"
			methodName="getSystemParamInfos" />
		<ehcache:flushing cacheNames="com.icbc.emall.ehcache"
			methodName="updateSystemParamInfo" />
		<ehcache:flushing cacheNames="com.icbc.emall.ehcache"
			methodName="updateSystemParamList" />
	</ehcache:proxy>

	<bean id="sqlMapClientTemplate" class="org.springframework.orm.ibatis.SqlMapClientTemplate">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>



	<!-- rapid SqlMapClientFactoryBean与spring SqlMapClientFactoryBean的区别是可以指定sqlExecutor -->
	<bean id="sqlMapClient"
		class="com.icbc.emall.ibatis.extension.SqlMapClientFactoryBean">
		<property name="configLocation" value="classpath:/sql-map-config-oracle-cas.xml" /> 
		<!-- <property name="configLocation" value="classpath:/sql-map-config-oracle-cas.xml /> -->
		<property name="dataSource" ref="dataSource" />
		<!-- 指定数据库分页方言Dialect, 其它方言:OracleDialect,SQLServerDialect,SybaseDialect,DB2Dialect,PostgreSQLDialect,MySQLDialect,DerbyDialect -->
		<property name="sqlExecutor">
			<bean class="com.icbc.emall.ibatis.extension.LimitSqlExecutor">
				<property name="dialect">
					<bean class="com.icbc.emall.ibatis.extension.OracleDialect" />
				</property>
			</bean>
		</property>
	</bean>

	<bean id="sqlMapClientDaoSupport"
		class="org.springframework.orm.ibatis.support.SqlMapClientDaoSupport"
		abstract="true">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate" />
	</bean>
     <!-- 序列号管理 -->
     <bean id="serialNoDAO" class="com.icbc.emall.common.dao.ibatis.SerialNoDAOImpl" parent="sqlMapClientDaoSupport">
    </bean>
    <bean id="serialGeneratorDataAdapter"
		class="com.icbc.emall.util.keygen.adapter.SerialGeneratorDataAdapterImpl"
		parent="sqlMapClientDaoSupport">
		<property name="txManager" ref="transactionManager" />
		<property name="txDefinition">
			<bean
				class="org.springframework.transaction.support.DefaultTransactionDefinition">
				<property name="propagationBehaviorName"
					value="PROPAGATION_REQUIRES_NEW" />
			</bean>
		</property>
	</bean>
	
	<bean id="customizableTraceInterceptor" class="org.springframework.aop.interceptor.CustomizableTraceInterceptor">
    	<property name="enterMessage" value="========Entering $[methodName]($[arguments])"/>
  		<property name="exitMessage" value="========Leaving $[methodName](): $[returnValue],takes about $[invocationTime] msec"/>
    </bean>
	
	<aop:config>
	   <aop:pointcut id="emallService" expression="execution(* com.icbc.emall.*.service.*Service.*(..))
	    or execution(* com.icbc.systemlinker.custom..handler.*.execute(..))
	     or execution(* com.icbc.systemlinker.custom..*Service.*(..))
	     or execution(* com.icbc.emall.*.service.*Handler.*(..))"/>
	   <aop:advisor advice-ref="customizableTraceInterceptor" pointcut-ref="emallService"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="emallService"/>
	</aop:config>
	
	<!-- Transaction advice definition, based on method name patterns. -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" rollback-for="com.icbc.emall.ICBCServiceException" read-only="false"/>
			<tx:method name="get*" propagation="SUPPORTS"/>
			<tx:method name="execute" propagation="SUPPORTS"/>
			<tx:method name="*ForNewTransaction" propagation="REQUIRES_NEW"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- 黑名单  -->
    <bean id="blackListDAO" class="com.icbc.emall.common.dao.ibatis.BlackListDAOImpl" 
    	parent="sqlMapClientDaoSupport" />
	<bean id="authDAO" class="com.icbc.emall.auth.dao.ibatis.AuthDAOImpl"
		parent="sqlMapClientDaoSupport" />

	<bean id="mallLoginInfoDAO" class="com.icbc.emall.mall.dao.ibatis.MallLoginInfoDAOImpl"
		parent="sqlMapClientDaoSupport" />

	<bean id="mallLoginLogInfoDAO"
		class="com.icbc.emall.mall.dao.ibatis.MallLoginLogInfoDAOImpl"
		parent="sqlMapClientDaoSupport" />

	<bean id="authService" class="com.icbc.emall.auth.service.impl.AuthServiceImpl">
		<property name="authDAO" ref="authDAO"></property>
		<property name="blackListDAO" ref="blackListDAO"></property>
		<property name="mallLoginInfoService" ref="mallLoginInfoService"/>
     	<property name="mallLoginLogInfoService" ref="mallLoginLogInfoService"/>
    	<property name="serialGeneratorMgr" ref="serialGeneratorMgr"/>
    	<property name="merchantLoginInfoDAO" ref="merchantLoginInfoDAO"/>
    	<property name="merchantResetPasswordService" ref="merchantResetPasswordService"/>
	</bean>

<bean id="ciscodeService" class="com.icbc.emall.ciscode.service.impl.CiscodeServiceImpl">
		<property name="ciscodeDao" ref="ciscodeDao"></property>
		<property name="mallUserInfoService" ref="mallUserInfoService"></property>
		<property name="authService" ref="authService"></property> 		
		<property name="mallLoginInfoService" ref="mallLoginInfoService"></property> 		
		<property name="lotteryUserinfoService" ref="lotteryUserinfoService"></property> 		
	</bean>

	<bean id="lotteryUserinfoService" class="com.icbc.emall.lottery.service.impl.LotteryUserinfoServiceImpl" autowire="byName">
	</bean>
	
	<bean id="lotteryUserinfoDAO" class="com.icbc.emall.lottery.dao.ibatis.LotteryUserinfoDAOImpl" parent="sqlMapClientDaoSupport">
    </bean>

	<bean id="mallLoginInfoService"
		class="com.icbc.emall.mall.service.impl.MallLoginInfoServiceImpl">
		<property name="mallLoginInfoDao" ref="mallLoginInfoDAO"></property>
	</bean>

	<bean id="mallLoginLogInfoService"
		class="com.icbc.emall.mall.service.impl.MallLoginLogInfoServiceImpl">
		<property name="mallLoginLogInfoDao" ref="mallLoginLogInfoDAO"></property>
	</bean>
	<bean id="mallUserInfoDAO" class="com.icbc.emall.member.dao.ibatis.MallUserInfoDAOImpl"
		parent="sqlMapClientDaoSupport" />
		
	<bean id="mallUserInfoService"
		class="com.icbc.emall.member.service.impl.MallUserInfoServiceImpl">
		<property name="mallUserInfoDAO" ref="mallUserInfoDAO"></property>
		<property name="authService" ref="authService"/>
		<property name="mallLoginInfoService" ref="mallLoginInfoService"/>
		<property name="lotteryUserinfoService" ref="lotteryUserinfoService"></property> 	
	</bean>

	<bean id="areacodeMapDAO" class="com.icbc.emall.merchant.dao.ibatis.AreacodeMapDAOImpl"
		parent="sqlMapClientDaoSupport" />
		
			<bean id="ciscodeDao" class="com.icbc.emall.ciscode.dao.ibatis.CiscodeDAOImpl"
		parent="sqlMapClientDaoSupport" />

	<bean id="eBankSavedUserDao" class="com.icbc.emall.member.dao.ibatis.EBankSavedUserDaoImp"
		parent="sqlMapClientDaoSupport" />
		
	<bean id="ebankSavedUserService"
		class="com.icbc.emall.member.service.impl.EBankSavedUserServiceImp">
		<property name="eBankSavedUserDao" ref="eBankSavedUserDao"></property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="addressService" class="com.icbc.emall.common.service.impl.AddressServiceImpl">
		<property name="addressDAO" ref="addressDAO"/>
	</bean>
	
	<bean id="addressDAO" class="com.icbc.emall.common.dao.ibatis.AddressDAOImpl" parent="sqlMapClientDaoSupport"/>
	
	<bean id="eBankUserAddrService" class="com.icbc.emall.ebankuseraddr.service.impl.EBankUserAddrServiceImpl">
		<property name="eBankUserAddrDao" ref="eBankUserAddrDAO"/>
	</bean>
	
	<bean id="eBankUserAddrDAO" class="com.icbc.emall.ebankuseraddr.dao.ibatis.EBankUserAddrDAOImpl" parent="sqlMapClientDaoSupport"/>
	
	<!-- 系统参数信息业务组件 -->
	<bean id="systemParamInfoService"
		class="com.icbc.emall.system.service.impl.SystemParamInfoServiceImpl">
	</bean>

	<!-- 加密 -->
	<bean id="ignoreCaseMd5PasswordEncoder"
		class="com.icbc.emall.common.security.IgnoreCaseMd5PasswordEncoder"></bean>
	<!-- 盐值 -->
	<bean id="saltSource"
		class="org.springframework.security.authentication.dao.SystemWideSaltSource">
		<property name="systemWideSalt" value="emall" />
	</bean>

		<bean id="serialGeneratorMgr" class="com.icbc.emall.util.keygen.SerialGeneratorMgr" autowire="byName">
		</bean>
		
	<!-- sysParamsDAO 提供系统参数表功能实现 -->
    <bean id="sysParamsDAO" class="com.icbc.emall.system.dao.ibatis.SysParamsDAOImpl" parent="sqlMapClientDaoSupport"/>   

	 <!-- 系统参数服务 -->
    <bean id="sysParamsService" class="com.icbc.emall.system.service.impl.SysParamsServiceImpl">
		<property name="sysParamsDAO" ref="sysParamsDAO"/>
		<property name="workflowInstanceService" ref="workflowInstanceService"/>
	</bean>
	<!-- 工作流 -->
	<bean id="workflowInstanceService" class="com.icbc.emall.workflow.service.impl.WorkflowInstanceServiceImpl">
		<property name="wfInstanceDAO" ref="wfInstanceDAO"/> 
		<property name="wfAuditDAO" ref="wfAuditDAO"/> 
	</bean>
	<bean id="wfAuditDAO" class="com.icbc.emall.workflow.dao.ibatis.WfAuditDAOImpl" parent="sqlMapClientDaoSupport"/>
  	<bean id="wfInstanceDAO" class="com.icbc.emall.workflow.dao.ibatis.WfInstanceDAOImpl" parent="sqlMapClientDaoSupport"/>
  
	<!-- oracle虚表 -->	
	<bean id="dualDAO" class="com.icbc.emall.dual.dao.ibatis.DualDAOImpl" parent="sqlMapClientDaoSupport"/>

	<!-- 商城协议 -->
	<bean id="mallAgreementDAO" class="com.icbc.emall.agreement.dao.ibatis.AgreementDAOImpl" parent="sqlMapClientDaoSupport"/>
	<!-- 商城协议 -->
	<bean id="mallAgreementService" class="com.icbc.emall.agreement.service.impl.AgreementServiceImpl">
    	<property name="agreementDAO" ref="mallAgreementDAO" />
    </bean>
    <bean id="authServiceEventListener" class="com.icbc.emall.audit.service.impl.AuthServiceEventListener" autowire="byName">
    	<property name="mallLoginLogInfoService" ref="mallLoginLogInfoService" />
    </bean>
    <!--广告管理服务  -->
    <!-- 广告管理-->
    <bean id="adInfoDAO" class="com.icbc.emall.ad.dao.ibatis.AdInfoDAOImpl" parent="sqlMapClientDaoSupport">
    </bean>
    <bean id="adInfoService" class="com.icbc.emall.ad.service.impl.AdInfoServiceImpl">
        <property name="adInfoDAO" ref="adInfoDAO"/>
        <!-- 
        登录页中需要该service取广告图片地址，此处用不到workflowService,所以注释掉.
        <property name="workflowService" ref="workflowService"/>
        -->
    </bean>
    	<!-- 启动服务时，初始化的刷新内存的全局变量值-->
	<bean id="RefreshPropertieManger" class="com.icbc.by.cachemanager.server.RefreshPropertieManger" init-method="initialize"  >
	</bean>
	
	<!-- 商户用户信息 -->
	<bean id="merchantUserInfoService" class="com.icbc.emall.merchant.service.impl.MerchantUserInfoServiceImpl">
    	<property name="merchantUserInfoDAO" ref="merchantUserInfoDAO"/>
    </bean>
    <bean id="merchantUserInfoDAO" class="com.icbc.emall.manager.dao.ibatis.MerchantUserInfoDAOImpl" parent="sqlMapClientDaoSupport">
    </bean>
    
    <!-- 商户登录日志 -->
    <bean id="merchantLoginLogInfoService" class="com.icbc.emall.merchant.service.impl.MerchantLoginLogInfoServiceImpl">
		<property name="merchantLoginLogInfoDAO" ref="merchantLoginLogInfoDAO"/>
	</bean>
	<bean id="merchantLoginLogInfoDAO" class="com.icbc.emall.merchant.dao.ibatis.MerchantLoginLogInfoDAOImpl" parent="sqlMapClientDaoSupport"/>
	
	<!-- 商户登录信息 -->
	<bean id="merchantLoginInfoService" class="com.icbc.emall.merchant.service.impl.MerchantLoginInfoServiceImpl">
    	<property name="merchantLoginInfoDAO" ref="merchantLoginInfoDAO"/>
    </bean>
    <bean id="merchantLoginInfoDAO" class="com.icbc.emall.manager.dao.ibatis.MerchantLoginInfoDAOImpl" parent="sqlMapClientDaoSupport"/>
    
    <!-- 发送短信接口 -->
    <!--短信HTTP接口  -->
	<bean id="SMSSendMessage" class="com.icbc.emall.sendmessage.service.impl.SendMessageImpl" init-method="init">
	</bean>
	
	<!-- 商户重置密码-->
    <bean id="merchantResetPasswordService" class="com.icbc.emall.merchant.service.impl.MerchantResetPasswordServiceImpl">
    	<property name="merchantResetPasswordDAO" ref="merchantResetPasswordDAO"/>
    </bean>
    <!-- 商户重置密码  -->
    <bean id="merchantResetPasswordDAO" class="com.icbc.emall.merchant.dao.ibatis.MerchantResetPasswordDAOImpl" parent="sqlMapClientDaoSupport">
    </bean>
    
    <!-- gtcg通讯接口 -->
	<bean id="gtcgService" class="com.icbc.emall.util.gtcg.Gtcg" init-method="initialize"  >
		<property name="sendTimeOut" value="10000"></property>
		<property name="telecomURL" value="http://82.201.30.176:20456/"></property>
		<property name="pinMacInfoDAO" ref="pinMacInfoDAO" />
		<property name="secretKeyService" ref="secretKeyService" />
		<property name="serialGeneratorMgr" ref="serialGeneratorMgr"></property>
	</bean>
	
	<bean id="pinMacInfoDAO" class="com.icbc.emall.mobilerecharge.dao.ibatis.PinMacInfoDAOImpl" parent="sqlMapClientDaoSupport" />
	<!-- 彩票通信密钥 -->
	<bean id="secretKeyService" class="com.icbc.emall.secretKey.service.impl.SecretKeyServiceImpl" autowire="byName">
		<property name="secretKeyDAO" ref="secretKeyDAO"/>
	</bean>
	  <!-- 彩票通信密钥 -->
    <bean id="secretKeyDAO" class="com.icbc.emall.secretKey.dao.ibatis.SecretKeyDAOImpl" parent="sqlMapClientDaoSupport" />
    
    	<!-- 行政地区行内地区对应 -->
	<bean id="areacodeMapService" class="com.icbc.emall.merchant.service.impl.AreacodeMapServiceImpl">
	    <property name="areacodeMapDAO" ref="areacodeMapDAO"/>
	</bean>
	
	<!-- 商城用户补录类-->
	<bean id="collectionOfUserInformation" class="com.icbc.emall.cas.util.CollectionOfUserInformation">
		<property name="mallLoginInfoService" ref="mallLoginInfoService"/>
		<property name="authService" ref="authService"/>
	   	<property name="mallUserInfoService" ref="mallUserInfoService"/>
	   	<property name="ciscodeService" ref="ciscodeService"/>
	   	<property name="serialGeneratorMgr" ref="serialGeneratorMgr"/>
	   	<property name="eBankUserAddrService" ref="eBankUserAddrService"/>
	   	<property name="addressService" ref="addressService"/>
	   	<property name="areacodeMapDAO" ref="areacodeMapDAO"/>
	</bean>
	
	<bean id="switchService" class="com.icbc.emall.appswitch.service.impl.SwitchServiceImpl" >
		<property name="switchDAO" ref="switchDAO"/>	
		<property name="serialGeneratorMgr" ref="serialGeneratorMgr"/>
	</bean>
	
	<!-- 应用系统开关表 -->
    <bean id="switchDAO" class="com.icbc.emall.appswitch.dao.ibatis.SwitchDAOImpl" parent="sqlMapClientDaoSupport">
    </bean>
	
</beans>